html { height: 100%; }

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff;
    color: #333;
    font-size: 100%;
    font-family: 'Open Sans';
}

a {
    border-bottom: 1px solid rgba(0,135,246,0.1);
    color: #0087f6;
    text-decoration: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
}

a:focus, a:hover {
    outline: none;
    border-bottom: 1px solid #0087f6;
}

input[type=entry] {
    padding: 2%;
    border: 1px solid #000;
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #000;
    background: rgba(0,0,0,0.3);
    color: #fff;
    font-weight: 600;
    font-size: 100%;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
}

input[type=entry]:hover, input[type=entry]:focus, input[type=entry]:active {
    outline: none;
    border: 1px solid #000;
    border: 1px solid rgba(0,0,0,0.3);
    background: #000;
    background: rgba(0,0,0,0.5);
}

input[type=submit] {
    padding: 2%;
    border: 1px solid #0065d4;
    border: 1px solid rgba(255,255,255,0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #0065d4;
    color: #fff;
    font-weight: 600;
    font-size: 100%;
    cursor: pointer;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
}

input[type=submit]:hover, input[type=submit]:focus, input[type=submit]:active {
    outline: none;
    border: 1px solid #0087f6;
    border: 1px solid rgba(255,255,255,0.2);
    background: #0087f6;
}

h1 {
    font-weight: 300;
    font-size: xx-large;
}

h2 {
    font-weight: 300;
    font-size: x-large;
}

h3 {
    font-weight: 400;
    font-size: large;
}

code {
    font-weight: 600;
    font-size: 110%;
    font-family: monospace;
    line-height: 120%;
}

section {
    margin: 0;
    padding: 0 20%;
}

footer {
    padding: 1% 20%;
    border-top: 1px solid #222;
    background-color: #2d2d2d;
    color: #ffffff;
    font-size: 85%;
    text-align: center;
}

footer a {
    border-bottom: 1px solid rgba(220,220,220,0.1);
    color: #dedede;
    text-decoration: none;
}

footer a:focus, footer a:hover {
    border-bottom: 1px solid #dcdcdc;
    text-decoration: none;
}

#home {
    height: 100%;
    background-color: #0087f6;
    background-image: url(../img/bg.jpg);
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

#home a {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: #fff;
}

#home a:focus, #home a:hover {
    border-bottom: 1px solid #fff;
}

#home .title {
    font-size: 300%;
    position: relative;
    top: 25%;
}

#home .content {
    position: relative;
    top: 25%;
    font-size: 100%;
}

#home .code {
    background: rgba(0,0,0,0.5);
    padding: 2%;
    border-radius: 3px;
}

#home .social {
    padding: 3%;
    text-align: center;
}

#home .social a {
    padding: 1%;
    border: none;
}

#home .social img {
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
}

#home .social img:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

#home2 {
    height: 100%;
    background-color: #0087f6;
    background-image: url(../img/signup.jpg);
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

#home2 a {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: #fff;
}

#home2 a:focus, #home a:hover {
    border-bottom: 1px solid #fff;
}

#home2 .title {
    font-size: 500%;
    position: relative;
    top: 5%;
    left: -15%;
}

#home2 .content {
    position: relative;
    top: 5%;
    font-size: 150%;
    left: 0%;

}

#home3 {
    height: 100%;
    background-color: #27ae60;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

#home3 a {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: #fff;
}

#home3 a:focus, #home a:hover {
    border-bottom: 1px solid #fff;
}

#home3 .title {
    font-size: 300%;
    position: relative;
    top: 25%;
}

#home3 .content {
    position: relative;
    top: 25%;
    font-size: 100%;
}

.right {
    padding: 1%;
    float: right;
}

.center {
    padding: 1%;
    float: center;
}

.content { padding: 5% 0; }

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-button { display: none; }

::-webkit-scrollbar-track { background: #fff; }

::-webkit-scrollbar-thumb {
    border: 1px solid #b2b2b2;
    background: #c8c8c8;
}

::-webkit-scrollbar-thumb:vertical { min-height: 10px; }

::-webkit-scrollbar-thumb:horizontal { min-width: 10px; }

::-webkit-scrollbar-thumb:hover {
    border: 1px solid #9c9c9c;
    background: #b2b2b2;
}

::-webkit-scrollbar-thumb:active {
    border: 1px solid #666;
    background: #888;
}

@media screen and (max-width: 640px) {
    body { font-size: 85%; }
    section { padding: 0 10px; }
    footer { padding: 10px 5px; }
    .content { padding: 10px 0; }
}