Package: copy
Version: 3.2.01.0481-0ubuntu1
Architecture: amd64
Maintainer: Paolo Rotolo <paolorotolo@ubuntu.com>
Installed-Size: 19761
Conflicts: copy-amd64, copy-i386
Replaces: copy, copy-amd64, copy-i386
Section: utils
Priority: optional
Description: Share amazing things with Copy.
 15GB cloud storage for free.
